@require "_ionicons"
@require "_config"
@require "styles/layout"
@require "styles/reset"
@require "styles/util/position"


export-reset()
layout-grid-base()
layout-width-base()


/*
html
body
main
.main
  h 100%
*/

body
  cc $cc $bg

ul
  lity no
  pad 0
  mar 0

body
  py $navh + $mainpad


.main
  w $mainw
  mx a
  py 2rem
  bg #fff
  bdrz 6px



/// layouts.

@import "./styles/_top"
@import "./styles/_left"
@import "./styles/_right"


/// pages.

@import "./styles/_prod-create"
