@require "_config"
@require "styles/layout"
@require "styles/reset"

export-reset()
layout-grid-base()
layout-width-base()

html
body
main
.main
  h 100%

body
  cc $cc $bg


@import "./styles/_top"

.js-labelfield-memolist li.active
  bg red
