{# -*- mode: web -*- #}

{% import "tpls/macros.html" as $ %}

{% block content %}

{% include "pages/_top.html" %}

<div class="main row">

  {% include "pages/_left.html" %}
  <div class="body grid">
    <div class="switch active switch-checkbox">
      <div class="switch-placeholder switch-placeholder-checkbox">
        <span class="switch-checked switch-checked-checkbox ion-md-checkmark"></span>
      </div>
      <input class="switch-form" type="checkbox" />
    </div>


    <div>
      <button class="prevyy">prevyy</button>
      <button class="prevmm">prevmm</button>
      <button class="nextmm">nextmm</button>
      <button class="nextyy">nextyy</button>
    </div>

    <div class="width--4">
    <div class="selectfield js-calendar">
      <div class="field selectfield-field datepicker-field">
        <span class="selectfield-placeholder">请选择日期</span>
      </div>
      <div class="selectfield-icon">
        <span class="ic ion-ios-arrow-up-outline"></span>
      </div>
      <div class="selectfield-optionslist datepicker-optionslist"></div>
    </div>
    </div>

    <div class="mm"></div>
    <div class="cale"></div>

  </div>

</div>
{% endblock %}


{% block styles %}
  {{ $.css("index") }}
{% endblock %}


{% block scripts %}
  {{ $.js("/vendor.dll") }}
  {{ $.js("/commons") }}
  {{ $.js("index") }}
{% endblock %}


{% extends "tpls/page.html" %}

{#
<div class="js-prodspecrow">
  <div>
    <input name="specname" type="text" class="js-prodspecrow-name" />
  </div>

  <div class="js-labelfield">
    <input type="text" name="labelfield" class="js-labelfield-input" />
    <div class="js-labelfield-container"></div>
    <div class="js-labelfield-autocomplete">
      <div class="js-labelfield-creator"></div>
      <ul class="js-labelfield-memolist"></ul>
    </div>
  </div>

  

  <div class="js-prodspecrow-close">X</div>
</div>
#}

