{% import "tpls/macros.html" as $ %}

{% block body %}

<div class="layout-block">

  <div class="section">
    <div class="title">订单信息</div>
    <div class="section-body">

      <div class="row">
        <div class="grid width--6">
          <div class="form-grid">
            <label for="">
              <div class="row">
                <div class="grid width--3">

                  <div class="form-label">客户名称</div>

                </div>
                <div class="grid width--9">

                  <div class="selectfield js-username">
                    <div class="field selectfield-field">
                      <span class="selectfield-placeholder">选择客户名称</span>
                    </div>
                    <div class="selectfield-icon">
                      <span class="ic ion-ios-arrow-up-outline"></span>
                    </div>
                    <div class="selectfield-optionslist"></div>
                  </div>

                </div>
              </div>
            </label>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="grid width--6">

          <div class="form-grid">
            <label for="">
              <div class="row">
                <div class="grid width--3">
                  <div class="form-label">
                    客户订单号
                  </div>
                </div>
                <div class="grid width--9">
                  <input name="specName" type="text" class="field" placeholder="输入客户订单号" />
                </div>
              </div>
            </label>
          </div>

        </div>

      </div>

    </div>
  </div>


  <div class="section">
    <div class="section-body js-order-tables-container"></div>
  </div>


  <div class="section">
    <div class="title">订单备注</div>

    <div class="section-body">
      <textarea class="field areafield js-order-note" id="" name="" rows="10"></textarea>
    </div>
  </div>


  <div class="section">
    <div class="row">
      <div class="grid width--6">
        订单总额 <span class="order-total js-order-total">0.00</span>
      </div>
      <div class="grid width--6">
        <div class="spec-submitbtns">
          <button class="button button-primary js-order-action-submit">提交</button>
          <button class="button js-order-action-cancle">取消</button>
        </div>
      </div>
    </div>
  </div>


</div>

{% endblock %}



{% block modal %}
<div class="modal js-modal-contact">
  <div class="modal-bg"></div>
  <div class="modal-main order-store-contact-modal">
    <div class="modal-header">
      <div class="modal-close">
        <span class="ion-ios-close-outline"></span>
      </div>
      新增单位
    </div>
    <div class="modal-footer">
      <button class="button button-primary js-modal-action-1">确定</button>
      <button class="button js-modal-close js-modal-action-0">取消</button>
    </div>

    <div class="modal-body">
      <div class="order-store-contact-field">
        <label for="contactUser">
          <div class="row">
            <div class="grid width--3">
              <div class="form-label">
                收货人姓名
              </div>
            </div>
            <div class="grid width--9">
              <input name="contactUser" id="contactUser" type="text" class="field" placeholder="请输入收货人姓名" />
            </div>
          </div>
        </label>

        <label for="contactPhone">
          <div class="row">
            <div class="grid width--3">
              <div class="form-label">
                收货人电话
              </div>
            </div>
            <div class="grid width--9">
              <input name="contactPhone" id="contactPhone" type="text" class="field" placeholder="请输入收货人电话" />
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>



<div class="modal js-modal-note">
  <div class="modal-bg"></div>
  <div class="modal-main order-store-note-modal">
    <div class="modal-header">
      <div class="modal-close">
        <span class="ion-ios-close-outline"></span>
      </div>
      添加商品备注
    </div>
    <div class="modal-footer">
      <button class="button button-primary js-modal-action-1">确定</button>
      <button class="button js-modal-close js-modal-action-0">取消</button>
    </div>

    <div class="modal-body">
      <div class="order-store-note-field">
        <label for="prodNote">
          <div class="row">
            <div class="grid width--12">
              <textarea class="field areafield" id="prodNote" name="prodNote" rows="10"></textarea>
            </div>
          </div>
        </label>
      </div>
    </div>
  </div>
</div>
{% endblock %}


{% block script %}
{{ $.js("order-create") }}
{% endblock %}


{% extends "pages/_tpl.html" %}
