{% block body %}

<div class="layout-block">

  <div class="section">
    <div class="list-createbtn">
      <button class="button button-primary js-list-action-create">新增商品</button>
    </div>
  </div>

  <div class="section">
    <table class="list-table">
      <thead>
        <tr>
          <th>
            <div class="list-checkbox">
              <input name="" type="checkbox" class="" value=""/>
            </div>
          </th>
          <th class="list-thead-name">商品名称</th>
          <th class="list-nth-1">单位</th>
          <th class="list-nth-1">成本价</th>
          <th class="list-nth-1">市场价</th>
          <th class="list-nth-1">库存数量</th>
          <th class="list-nth-1">状态</th>
          <th class="list-thead-actions">操作</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <div class="list-checkbox">
              <input name="" type="checkbox" class="" value=""/>
            </div>
          </td>
          <td>
            <div class="row">
              <div class="grid width--3">
                <div class="list-pic">
                  <img alt="" src="/images/pic.png"/>
                </div>
              </div>
              <div class="grid width--9">
                <div class="list-id">PC12345</div>
                <div class="list-content">
                  唯品会-007 【规格1：1：100*200*300，规格2：200*100*300】
                </div>
              </div>
            </div>
          </td>
          <td class="list-nth-1">件</td>
          <td class="list-nth-1">￥100.000</td>
          <td class="list-nth-1">￥120.000</td>
          <td class="list-nth-1">600,000</td>
          <td class="list-nth-1">上架</td>
          <td>
            <div class="list-actions">
              <div class="list-action">
                <a href="#">修改</a>
              </div>
              <div class="list-action">
                <a href="#">删除</a>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="list-checkbox">
              <input name="" type="checkbox" class="" value=""/>
            </div>
          </td>
          <td>
            <div class="row">
              <div class="grid width--3">
                <div class="list-pic">
                  <img alt="" src="/images/pic.png"/>
                </div>
              </div>
              <div class="grid width--9">
                <div class="list-id">PC12345</div>
                <div class="list-content">
                  唯品会-007 【规格1：1：100*200*300，规格2：200*100*300】
                </div>
              </div>
            </div>
          </td>
          <td class="list-nth-1">件</td>
          <td class="list-nth-1">￥100.000</td>
          <td class="list-nth-1">￥120.000</td>
          <td class="list-nth-1">600,000</td>
          <td class="list-nth-1">上架</td>
          <td>
            <div class="list-actions">
              <div class="list-action">
                <a href="#">修改</a>
              </div>
              <div class="list-action">
                <a href="#">删除</a>
              </div>
            </div>
          </td>
        </tr>

        <tr>
          <td>
            <div class="list-checkbox">
              <input name="" type="checkbox" class="" value=""/>
            </div>
          </td>
          <td>
            <div class="row">
              <div class="grid width--3">
                <div class="list-pic">
                  <img alt="" src="/images/pic.png"/>
                </div>
              </div>
              <div class="grid width--9">
                <div class="list-id">PC12345</div>
                <div class="list-content">
                  唯品会-007 【规格1：1：100*200*300，规格2：200*100*300】
                </div>
              </div>
            </div>
          </td>
          <td class="list-nth-1">件</td>
          <td class="list-nth-1">￥100.000</td>
          <td class="list-nth-1">￥120.000</td>
          <td class="list-nth-1">600,000</td>
          <td class="list-nth-1">上架</td>
          <td>
            <div class="list-actions">
              <div class="list-action">
                <a href="#">修改</a>
              </div>
              <div class="list-action">
                <a href="#">删除</a>
              </div>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="section">
    <div class="list-pagination">
      <div class="pagination">
        <div class="pagination-item pagination-control">
          <span class="ic ion-ios-arrow-back-outline"></span>
        </div>
        <div class="pagination-item">
          <div class="pagination-curr">
            2
          </div>
        </div>
        <div class="pagination-item pagination-split">
          /
        </div>
        <div class="pagination-item pagination-sum">
          5
        </div>
        <div class="pagination-item pagination-control">
          <span class="ic ion-ios-arrow-forward-outline"></span>
        </div>
        <div class="pagination-item">
          <div class="pagination-option">
            10条 / 页
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}



{% block modal %}

{% endblock %}


{% extends "pages/_tpl.html" %}
