{% block body %}

<div class="layout-block">

  <div class="section">
    <div class="title">基本信息</div>
    <div class="section-body">

      <div class="row">
        <div class="grid width--6">

          <div class="form-grid">
            <label for="">
              <div class="row">
                <div class="grid width--3">
                  <div class="form-label">
                    商品名称
                  </div>
                </div>
                <div class="grid width--9">
                  <input name="" type="text" class="field"/>
                </div>
              </div>
            </label>
          </div>

        </div>

        <div class="grid width--6">

          <div class="form-grid">
            <label for="">
              <div class="row">
                <div class="grid width--3">
                  <div class="form-label">
                    计量单位
                  </div>
                </div>
                <div class="grid width--9">

                  <input name="" type="text" class="field"/>
                </div>
              </div>
            </label>
          </div>

        </div>

      </div>

      <div class="row">
        <div class="grid width--6">

          <div class="form-grid">
            <label for="">
              <div class="row">
                <div class="grid width--3">
                  <div class="form-label">
                    商品类别
                  </div>
                </div>
                <div class="grid width--9">
                  <div class="selectfield js-prodcategory">
                    <div class="field selectfield-field">
                      <span class="selectfield-placeholder">选择商品类别</span>
                    </div>
                    <div class="selectfield-icon">
                      <span class="ic ion-ios-arrow-up-outline"></span>
                    </div>

                    <div class="selectfield-optionslist">

                      <div class="treeview treeview-depth--0">
                        <div class="treeview-content">
                          <div class="treeview-icon">
                            <span class="ic ion-md-arrow-dropdown"></span>
                          </div>
                          ceeeeeeee
                        </div>
                        <ul class="treeview-list">
                          <li>
                            <div class="treeview treeview-depth--1">
                              <div class="treeview-content">
                                <div class="treeview-icon">
                                  <span class="ic ion-md-arrow-dropdown"></span>
                                </div>
                                123123
                              </div>
                              <ul class="treeview-list">
                                <li>
                                  <div class="treeview treeview-depth--2">
                                    <div class="treeview-content selectfield-option" data-id="1">
                                      cewcwe
                                    </div>
                                  </div>
                                </li>
                                <li>
                                  <div class="treeview treeview-depth--2">
                                    <div class="treeview-content selectfield-option" data-id="2">
                                      asdf
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </li>
                          <li>
                            <div class="treeview treeview-depth--1">
                              <div class="treeview-content">
                                <div class="treeview-icon">
                                  <span class="ic ion-md-arrow-dropdown"></span>
                                </div>
                                123123
                              </div>
                              <ul class="treeview-list">
                                <li>
                                  <div class="treeview treeview-depth--2">
                                    <div class="treeview-content selectfield-option" data-id="1">
                                      cewcwe
                                    </div>
                                  </div>
                                </li>
                                <li>
                                  <div class="treeview treeview-depth--2">
                                    <div class="treeview-content selectfield-option" data-id="2">
                                      asdf
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </li>
                        </ul>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </label>
          </div>

        </div>

        <div class="grid width--6">

          <div class="form-grid">
            <label for="">
              <div class="row">
                <div class="grid width--3">

                  <div class="form-label">是否上架</div>

                </div>
                <div class="grid width--9">

                  <div class="selectfield js-isprodshelves">
                    <div class="field selectfield-field">
                      <span class="selectfield-placeholder">是否上架商品</span>
                    </div>
                    <div class="selectfield-icon">
                      <span class="ic ion-ios-arrow-up-outline"></span>
                    </div>
                    <div class="selectfield-optionslist"></div>

                  </div>
                </div>
              </div>
            </label>
          </div>

        </div>

      </div>
    </div>
  </div>

  <div class="section">
    <div class="title">商品规格</div>

    <div class="section-body">
      <div class="js-prodspecview">
        <div class="spec-header">
          <label for="enabled">
            <input name="enabled" id="enabled" type="checkbox" class="switch js-prodspecview-enable" />
            设置商品多规格
          </label>
        </div>
        <div class="spec-body">
          <div class="js-prodspecview-body"></div>
          <div class="spec-action-create js-prodspecview-createrow">
            <span class="ic ion-ios-add"></span>
            新增规格
          </div>
        </div>
      </div>
    </div>

    <div class="section-body">
      <div class="spec-tableview js-thumbnailtableview">
        <table class="spec-table js-thumbnailtableview-table">
          <thead>
            <tr class="js-thumbnailtableview-header"></tr>
          </thead>
          <tbody class="js-thumbnailtableview-body"></tbody>
        </table>
      </div>
    </div>

  </div>
</div>

{% endblock %}

{% extends "pages/_tpl.html" %}
