///
.button
  reset-space()
  reset-font()
  reset-theme()

  pad 0.5rem 1.2rem
  bg $g2
  bdrz 4px
  mx 0.25rem
  fz 0.85rem
  cur ptr

  &-primary
    cc #fff #00a0e8

    &:hover
      bg #46b5e8

    &:active
      bg #008ece
      shadow 0 0 6px rgba($pc, 0.5)
  


.button-small
  pad 0.3rem 0.5rem
