.datepicker
  fz 0.85rem

.datepicker-options
  miw 16.25rem

.datepicker-header
  pad 0.45rem 0.8rem
  cc $g3
  bdb $bd
  cur ptr

.addresspicker-options-container
  miw 30rem
  
.datepicker-options-container
  top 0

.datepicker-control-container
  pos rela
  ta cen
  pad 0.45rem 0.8rem
  bdb $bd

.datepicker-control
  size 2rem 2.25rem
  lh 2.25rem
  ta cen
  fz 1rem
  cc $g3
  cur ptr
  
  &-left
    u-fill l
    l 0.5rem
  &-right
    u-fill r
    r 0.5rem

  &-left-2
    l 2rem + 0.5rem
  &-right-2
    r 2rem + 0.5rem


.datepicker-body
  pad 0.5rem

.datepicker-yymm
  cur ptr

.datepicker-grid
  ta cen
  py 0.25rem

.datepicker-cell
  dis ib
  size 1.5rem
  lh 1.5rem
  ta cen
  cur ptr
  bdrz 4px

  &.nomm
    cc $g3
  &.today
    bg $sc
  &.active
    bg $pc
    cc #fff

.datepicker-footer
  pos rela
  ta cen
  h 2.625rem
  pad 0.6rem 0.8rem
  bdt $bd

.datepicker-action-today
  cc $pc
  cur ptr

.datepicker-action-check
  u-fill r
  pad 0.5rem


.datepicker-optionslist
  mah no
  mt 0
  t 0

.datepicker-field
  &:hover
  &:focus
  &:active
  &.active
    shadow initial
