.field
  reset-theme()
  reset-space()
  reset-font()
  w 100%
  fz 0.85rem

  bd $bd
  bdrz 4px
  h $field-h
  pad 0.45rem 0.8rem

  trans border-color $trans

  &:active
  &:hover
  &:focus
  &.active
    bdc $pc

  &:active
  &:focus
  &.active
    shadow 0 0 4px rgba($pc, 0.8) 
