///
.aside
  w $leftw

///
.menu-title
  pad 0.5rem 1.5rem
  cur ptr

///
.menu-submenu a
  dis bl


///
.menu-submenu .active
  bdr 2px solid $pc

  .menu-submenu-item
    cc $pc

///
.menu-submenu-item
  pad 0.5rem 3rem

  &:hover
    bg $sc
  
