/// 仓库实体 表格
.order-store-table
  fz 0.85rem

  th
  td
    ta cen
    bdr $bd
    pad 0.5rem
  th
    bg $g1
  tr
    bdb $bd
  td
    &:nth-child(1)
      bg $g1
      w 35px
    &:nth-child(2)
      w 80px
    &:nth-child(3)
      ta l
    &:nth-child(4)
      w 80px
    &:nth-child(5)
      w 80px
    &:nth-child(6)
      w 80px
      //ta r
    &:nth-child(7)
      w 80px
      //ta r
    &:nth-child(8)
      w 140px
    
  tbody
  thead
    bdl $bd


/// 仓库实体 统计
.order-store-statistics
  fz 0.85rem

  bd $bd
  bdt 0

.order-store-statisticlabel
  ta r
  pr 1rem

.order-store-contact
  cc $g4
  cur ptr
  .ic
    cc $pc

.order-store-totallabel
  pt 1rem

.order-store-otherlabel
  pt 0.3rem

.order-store-total
  fz 2rem
  cc $pc
  dis ib

.order-store-statisticlabel-native
  mt -2rem

.order-store-other
  bd 0
  w 100%
  cc $g4
  fz 1rem
  pad 0.25rem 0.5rem
  td underline




/// 新增仓库 按钮
.order-create-btn
  ta cen
  pad 0.5rem
  bg $g1
  bdrz 2px
  cur ptr
  mt 2rem

  .ic
    cc $pc
    fz 1.5rem
    pos rela
    t 3px
    mr 0.25rem




.order-store-header
  bg $sc
  pos rela
  ta cen
  py 0.5rem

.order-store-close
  u-fill r
  lh 1.2
  cur ptr
  .ic
    fz 3rem
    cc #fff
    mx 1rem


.order-store-selectfield
  dis ib
  w 200px

  &.active
    bg #fff
    bd 1px solid $pc

  .field
    bd 0
    shadow initial
    ta cen

.order-store-selectfield-field
  //pr 0
  //bdc a0
  cc $cc
  pad 0
  .selectfield-placeholder
    cc $cc
  &:hover
  &:focus
  &:active
  &.active
    shadow initial

  &.active
    bg #fff

.order-store-selectfield-icon
  //dis ib
  //pos static
  //lh 1
  //h a
  .ic
    cc $cc

.order-store-selectfield-orderlist
  t 2rem



.order-store-operation
  dis ib
  mx 0.25rem
  cur ptr
  .ic
    fz 1.5rem


.order-store-prodpic
  dis ib
  mr 1rem

.order-store-proddetail
  dis ib
  py 1.5rem
  va top


/// 仓库 表格 备注
.order-store-notecreate
  cc $pc




/// 仓库 联系人 弹出框

.order-store-contact-field
  pad 2rem
  pt 4rem

  label
    dis bl
    mb 2rem

.order-store-contact-modal
  modal-size 500px 400px


.order-store-prod-field
  pad 0
  bd 0
  h a
  shadow initial

.order-store-prod-list
  t 4.2rem
  w 102%
  mt 0.2rem
  .selectfield-option
    pad 0
