///
.pagination
.pagination-item
  dis ib


///
.pagination-item
  mx 0.25rem
  fz 0.85rem
  cur ptr


///
.pagination-curr
.pagination-options
  bd $bd1
  bdrz 4px
  ta cen
  lh 1

.pagination-options
  pad 0.25rem 0.5rem


///
.pagination-control
  fz 1.25rem
  cc $g3
  pos rela
  top 2px
  .ic
    dis ib


///
.pagination-optionslist
  t 100%


///
.pagination-option
  pad 0.25rem 0.5rem
  ta cen


.pagination-currfield
  reset-space()
  reset-theme()

  w 1.5rem
  ta cen
  py 0.25rem
