///
.pagination
.pagination-item
  dis ib


///
.pagination-item
  mx 0.25rem
  fz 0.85rem
  cur ptr


///
.pagination-curr
.pagination-option
  bd $bd1
  bdrz 4px
  ta cen
  lh 1
  pad 0.25rem 0.5rem


///
.pagination-control
  fz 1.25rem
  cc $g3
  pos rela
  top 2px
  .ic
    dis ib
