///
.title
  cc $pc
  fw bolder
  mb 1rem

///
.section-body
  px 1rem
  mb 2rem

///
.prod-spec-header
  bg $g2
  pad 1rem

///
.prod-spec-body
  bg $g1
  pad 2rem 1rem
  pb 0.5rem

///
.spec-action-create
  dis ib
  pad 1rem 2rem
  lh 1.3
  cur ptr
  .ic
    cc $pc
    fz 1.25rem

///
.spec-row
  py 0.5rem


///
.spec-namefield-container
  pad 0.5rem


///
.spce-namefield
  reset-theme()
  reset-space()
  reset-font()

  bdb 1px solid $g3
  cc $pc
  pad 0.3rem 0.5rem
  w 100%
  ta cen


///
.spec-closed
  ta cen
  .ic
    fz 2rem


///
.spce-labelfield
  bd 1px solid $g3
  bdrz 4px
  bg #fff
  pad 0.25rem 0.5rem
  pos rela


///
.spce-labelfield-field
  reset-theme()
  reset-space()
  reset-font()

  dis ib
  w auto
  pad 0.5rem

///
.spec-labelfield-labels
  dis ib
  

///
.labelfield-label
  dis ib
  cc #fff $pc
  pad 0.25rem 0.5rem
  pr 0.5rem + 1.5rem
  mx 0.25rem
  my 0.25rem
  bdrz 4px
  pos rela


///
.labelfield-label-close
  u-fill r
  fz 2rem
  w 2rem
  ta cen
  lh 1.1
  cur ptr


///
.labelfield-createor
  //bdb $bd


///
.labelfield-memolist li.active
  bg $sc
  pad 0.25rem
  bdrz 4px



///
.spec-table
  w 100%

  td
  th
    ta cen
    bdr $bd
    bdb $bd
    pad 0

    &:first-child
      bdl $bd

  th
    bdt $bd
    bg $g2

  th
    &:nth-child(1)
      pad 1rem
      bg $g2

  td
    &:first-child
      bg $g2

  td
    pad 0.5rem


.spec-table-n1
  w 60px
.spec-table-n2
  w 80px
.spec-table-n3
  w 140px
.spec-table-n4
  w 200px
.spec-table-n5
  w 140px
.spec-table-n6
  w 80px


.spec-table-field
  reset-theme()
  reset-space()
  reset-font()

  bd $bd
  pad 0.5rem
  bdrz 4px
  w 100%
