///
.category-title
  bg $g1
  pad 1rem

///
.category-action
  dis ib
  fz 0.85rem
  ml 2rem
  cur ptr

  .ic
    fz 1.2rem
    cc $pc
    dis ib
    va middle
    mr 0.25rem
    pos rela
    top -1px



///
.category-tree
  //.treeview-icon
    //cc $pc

  .treeview-content
    bdb $bd
    py 0.75rem

    &:hover
      bg $sc
      bdc $sc

  .treeview-icon
    py 0.75rem


///
.category-ic
  cc $pc
  fz 1.4rem
  va middle
  mr 0.25rem


///
.category-actions
  dis ib


///
.category-modal-main
  modal-size 500px 540px


.category-field
  pad 3rem 1rem
  pr 2rem


.category-name-field
  mb 1rem
  dis bl



///
.category-alert-modal-main
  modal-size 400px 220px


///
.category-alert-modal-footer
  reset-theme()
  bd 0
  pad 1rem
  mah 5rem


.category-alert
  px 3rem

  .ic
    cc $cwarn
    fz 2rem
    dis ib
    mr 0.5rem
    va middle
    pos rela
    top -2px
