///
.title
  cc $pc
  fw bolder
  mb 1rem


///
.section-body
  px 1rem
  mb 2rem


///
.spec-header
  bg $g2
  pad 0.8rem


///
.spec-body
  bg $g1
  pad 2rem 1rem
  pb 0.5rem
  bdrzb 6px


///
.spec-action-create
  dis ib
  pad 1rem 2rem
  lh 1.3
  cur ptr
  .ic
    cc $pc
    fz 1.25rem


///
.spec-row
  py 0.5rem


///
.spec-namefield-container
  pad 0.5rem


///
.spce-namefield
  reset-theme()
  reset-space()
  reset-font()

  bdb 1px solid $g3
  cc $pc
  pad 0.3rem 0.5rem
  w 100%
  ta cen


///
.spec-closed
  ta cen
  cur ptr
  .ic
    fz 2rem


///
.spce-labelfield
  dis bl
  bd 1px solid $g3
  bdrz 4px
  bg #fff
  pad 0.25rem 0.5rem
  pos rela


///
.spce-labelfield-field
  reset-theme()
  reset-space()
  reset-font()

  dis ib
  w auto
  pad 0.5rem

///
.spec-labelfield-labels
  dis ib
  

///
.labelfield-label
  dis ib
  cc #fff $pc
  pad 0.25rem 0.5rem
  pr 0.5rem + 1.5rem
  mx 0.25rem
  my 0.25rem
  bdrz 4px
  pos rela


///
.labelfield-label-close
  u-fill r
  fz 2rem
  w 2rem
  ta cen
  lh 1.1
  cur ptr


///
.labelfield-createor
  bdt $bd
  pad 0.25rem 0.5rem
  fz 0.85rem
  bg $g1


/// 
.labelfield-memolistitem
  pad 0.25rem 0.5rem
  bdrz 4px
  fz 0.85rem

  .labelfield-memolist li.active &
    bg $sc


///
.spec-table
  w 100%

  td
  th
    ta cen
    bdr $bd1
    bdb $bd1
    pad 0.5rem

    &:first-child
      bdl $bd1

  th
    bdt $bd1
    bg $g1

  td
    &:first-child
      bg $g1


.spec-table-n1
  w 30px
.spec-table-n2
  w 80px
.spec-table-n3
  w 140px
.spec-table-n4
  w 200px
.spec-table-n5
  w 140px
.spec-table-n6
  w 80px


.spec-brfield
  ta cen

.spec-pricefield
  ta right



///
.spec-unitsfield-create
  cc $pc $g1
  pad 0.5rem


///
.spec-units-modal-main
  modal-size 500px 300px


///
.spec-units-field
  pad 4rem 1rem
  pr 2rem




///
.spec-option-title
  cc $g3 $g1
  pad 0.5rem 1rem


///
.spec-option-upload
  cur ptr
  cc $pc


///
.spec-option-uploadfield
  dis no


///
.spec-option-list
  bdb $bd


///
.spec-option-item
  pad 1rem


///
.spec-option-itemname
.spec-option-itemsize
.spec-option-action
.spec-option-icon
  dis ib

.spec-option-itemname
  &:hover
    cc $pc

.spec-option-itemsize
  cc $g3
  fz 0.8rem
  mx 0.25rem

.spec-option-icon
  cc $pc
  fz 1.25rem

  .ic
    dis ib
    va text-top


.spec-option-action
  mx 0.55rem
  cur ptr




///
.spec-submitbtns
  ta right
  pad 1rem
 
