///
.list-thead-name
  ta left
  w 400px


///
.list-thead-actions
  w 160px


///
.list-nth-1
  w 100px
  ta cen


///
.list-actions
  cc $pc
  ta cen


///
.list-action
  dis ib
  mx 0.25rem


///
.list-table
  thead
    bg $g1

  th
  td
    pad 0.5rem
    fz 0.8rem



///
.list-createbtn
  ta right
  mb 1rem


///
.list-id
  cc $g3
  mb 0.5rem


///
.list-content
  //fz 0.8rem


///
.list-pic
  dis ib
  pt 0.25rem


///
.list-pagination
  ta right
