///
.treeview-content
  pos rela
  cur ptr
  py 0.5rem
  pl 2rem


///
.treeview-icon
  u-fill l
  lh 1.5
  w 2rem
  py 0.25rem
  fz 1.4rem
  ta cen
  cc $g3

  .ic
    dis ib
    trans transform $trans

    .treeview-content.active &
      tf rotate(-90deg)


///
for $i in (0..10)
  .treeview-depth--{$i}
    $size = 2rem + 0.5rem * $i
    .treeview-content
      pl 2rem + 0.5rem * $i
    .treeview-icon
      w 2rem + 0.5rem * $i
      pl 0.5rem * $i
