.user-label
  ta right
  pr 2rem
  w 10rem
  py 0.5rem

.user-value
  cc #aaa


.user-contacts
  px 4rem

  td
  th
    ta cen
    py 0.8rem

  th
    bg $g1
  td
    bdb $bd

.user-people
  px 4rem

.user-person
.user-upload
  dis ib
  cur ptr

  .ic
    fz 1.5rem
    cc $pc
    pos rela
    top 2px
    mr 0.5rem



.user-upload
  mr 1rem
  cc $cc

  .ic
    mr 0.25rem
